@urnani1: #5215ad;
@urnani2: #e61aaf;
@import "animate";
*{
    box-sizing: border-box;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */ 
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url('../fonts/MaterialIcons.woff2') format('woff2');
}
@font-face {
    font-family: 'syncopate';
    src: url('../fonts/Syncopate/syncopate-regular-webfont.eot');
    src: url('../fonts/Syncopate/syncopate-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Syncopate/syncopate-regular-webfont.woff2') format('woff2'),
         url('../fonts/Syncopate/syncopate-regular-webfont.woff') format('woff'),
         url('../fonts/Syncopate/syncopate-regular-webfont.ttf') format('truetype'),
         url('../fonts/Syncopate/syncopate-regular-webfont.svg#syncopateregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
*{
	box-sizing: border-box;
}
body {
  background: #d4a6a9 url(../img/bg.jpg) no-repeat fixed;
  background-size: cover;
  color: #fff;
  font-family: syncopate, Segoe Ui;
  margin: 0;
  padding-bottom: 20px;
  padding-top: 20px;
  padding: 0;
}
#menu{
	position: absolute;
	top: 20px;
	left: 20px;
	font-size: 32px;
	z-index: 9999;
}
#app{
	.animated;
	.fadeInLeft;
	min-height: 94vh;
}
footer{
	text-align: center;
	color:#fff;
	background: #009688;
	position: fixed;
	bottom:0;
	width:100%;
}
i{
	.animated;
	.bounceIn;
}
.section{
	color: #fff;
}
.urnani1{
	color: @urnani1;
}
input{
	color: @urnani1 !important;
}
.btn:not(.btn-*){
	color: #9C27B0;
    border: 1px solid #fff;
}
header{
	height: 70px;
	line-height: 70px;
	text-align: right;
	& img{
		display: inline-block;
    	width: 50px;
    	.animated;
    	.fadeInUp;
	}
}
#content-menu{
	background: rgba(51, 58, 203, 0.88);
    color: #fff;
    left: -200px;
    position: absolute;
    top: 70px;
    transition: all .2s linear;
    width: 200px;
    z-index: 999;
    & ul{
	    margin: 0;
	    padding: 0;    	
	    list-style: none;
	    & li{
	    	border-bottom: 1px solid rgba(0,0,0,.1);
	    	& a{
	    		color: #fff;
	    		text-decoration: none;
	    		display: inline-block;
	    		padding: 15px;
	    	}
	    }
    }
    &.active{
    	left: 0;
    }
}
.btn,.btnSingUp, .btn-curso{
	background: #3482b3;
	color: #fff;
	border-radius: 5px;
	display: inline-block;
	text-align: center;
	padding: 15px;
	text-transform: uppercase;
	& span{
		display: block;
		font-size: 12px;
	}
	&.btn-danger{
		background: red;
	}
}
.btn-curso{
	width: 100%;
	margin: 15px 0;
}
#redes{
	& img{
		width: 100%;
		display: inline-block;
	}
}
#menu{
	& i{
		font-size: 46px;		
	}
}
#index{
	background: #1e5799;
	background: -moz-linear-gradient(45deg,  #1e5799 0%, #2989d8 50%, #307faf 100%);
	background: -webkit-linear-gradient(45deg,  #1e5799 0%,#2989d8 50%,#307faf 100%);
	background: linear-gradient(45deg,  #1e5799 0%,#2989d8 50%,#307faf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#307faf',GradientType=1 );
	min-height: 94vh;
	text-align: center;
	color: #fff;
	padding-top: 70px;
	& #logo{
		display: inline-block;
		width: 80vw;
	}
	.select{
		display: inline-block;
		vertical-align: middle;
		font-size: 16px;
		box-shadow: 0px 8px 1px rgba(0,0,0,.1);
	}
	.content-select{
		display: inline-block;
		width: 49%;
	}
	#nannis{
		background: #6625bc;
		border-radius: 50%;
		text-align: center;
		width: 120px;
		height: 120px;
		line-height: 120px;
	}
	#padres{
		width: 0;
	    height: 0;
	    border-left: 50px solid transparent;
	    border-right: 50px solid transparent;
	    border-bottom: 100px solid #f933b3;
	    position: relative;
	    &::after{
			content: "Padres";
		    bottom: -74px;
		    color: #fff;
		    left: -29px;
		    position: absolute;
		    font-size: 12px;
	    }
	}
}
#content-nannis{
	background: rgba(0,0,0,.3);
	overflow-x: scroll;
	border-radius: 5px;
	white-space: nowrap;
	& .nanni{
		display: inline-block;
	    vertical-align: top;
	    width: 200px;
	    border: 1px dashed rgba(255,255,255,.4);
	    box-shadow: 0px 0px 0px 1px #fff;
	    padding: 15px 0;
		& .avatar{
			position: relative;
			width: 140px;
			height: 140px;
			display: table;
			margin: 0 auto;
			transition:all .2s linear;
			& img{
				position: absolute;
				display: inline-block;
				border-radius: 50%;
				width: 140px;
				height: 140px;
			}
			& p{
				position: relative;
			    background: rgba(0, 0, 0, 0.51);
			    border-radius: 50%;
			    display: table-cell;
			    text-shadow: 0px 1px 0px #000;
			    vertical-align: middle;
			    font-size: 12px;
				& span{
					display: block;
				}
			}
			&:hover{
				& p{
					background: transparent;					
				}
			}
		}
		& .stars{
			margin: 0;
			padding: 0;
			list-style: none;
			& li{
				display: inline-block;
				& i{
					color: #aaa;
				}
				& i.active{
					color: yellow;
				}
			}
		}
		& .detalles{
			& img{
				width: 100px;
    			margin: 15px 0;
    			.animated;
    			.fadeInLeft;
			}
		}
	}
}
& .stars{
			margin: 0;
			padding: 0;
			list-style: none;
			& li{
				display: inline-block;
				& i{
					color: #aaa;
				}
				& i.active{
					color: yellow;
				}
			}
		}
#conocela{
	background: rgba(0,0,0,.3);
	padding: 15px 5px;
	border-radius: 5px;
	text-align: center;
	position: relative;
	& .cursos{
		margin: 7px 0px;
		& img{
			width: 120px;
			display: inline-block;
		}
	}
	.nanni{
		border-radius: 5px;
	}
	& .morado,
	& .amarillo{
		position: relative;
	}
	& .morado{
		color: #fff;
		background: #6f25b7;
		border-radius: 50px 0 0 50px;
		display: block;
		padding: 5px 0px;
		position: relative;
		right: -18px;
		&::before {
		    content: "";
		    width: 0;
		    border: 7px solid #6F25B7;
		    position: absolute;
		    z-index: 999;
		    top: -14px;
		    right: 0px;
		    display: block;
		    border-top-color: rgba(0, 0, 0, 0);
		    border-right-color: rgba(0, 0, 0, 0);
		}
	}
	& .amarillo{
		color: #795548;
		background: #ffd479;
		border-radius: 0px 50px 50px 0px;
		display: block;
		left: -18px;
		padding: 5px 0px;
		position: relative;
		&::before {
		    content: "";
		    width: 0;
		    border: 7px solid #ffd479;
		    position: absolute;
		    z-index: 999;
		    top: -14px;
		    left: 0px;
		    display: block;
		    border-top-color: rgba(0, 0, 0, 0);
		    border-left-color: rgba(0, 0, 0, 0);
		}
	}
	& .rosa{
		background: #d96599;
	    border-radius: 50%;
	    padding: 55px;
	    margin: 15px 0px;
	    color: #fff;
	}
}
#areasInteresList{
	& li{
		color: #333;
		overflow: auto;
		& a{
			float: right;
			& i{
				color: @urnani1;
			}
		}
	}
}
.modal{
	color: #555;
}
.rosa{
	color: #E91E63;
}
.citas{
	margin: 35px 0px;
	padding: 0;
	list-style: none;
	& li{
		height: 45px;
	    background: #fff;
	    border-bottom: 1px solid #989898;
	    border-top: 1px solid #D2D2D2;
	    color: #333;
	    font-size: 16px;
	    line-height: 45px;
	    padding-left: 15px;
	    text-align: left;
	    & span.right{
	    	float: right;
	    	margin-right: 20px;
	    }
	}
	&.confirmar{
		& li{
			& span{
				font-size: 32px;
			    background: #fff;
			    display: inline-block;
			    border-radius: 50%;
			    margin: 5px;
			    width: 32px;
			    height: 32px;
			    line-height: 32px;
			    float: right;
				&:nth-child(1){
					color: green;
				}
				&:nth-child(2){
					color: red;
				}
			}
		}
	}
}
.big{
	font-size: 34px;
    background: rgba(0,0,0,.1);
    padding: 15px;
    border: 1px solid #fff;
}