<section id="1" class="section container">
	<header id="header">
		<img id="logo" src="img/logo.png" alt="">
	</header>
	<div class="text-center">
		<h1>Bienvenidos</h1>		
	</div>
	<div class="citas">
		<li>
			<a class="nav-xhr" data-href="padresRegistrarse">Registrarse<span class="right"><i class="fa fa-angle-right"></i></span></a>			
		</li>
		<li>
			<a href="#" class="nav-xhr" data-href="padresLogin">Login<span class="right"><i class="fa fa-angle-right"></i></span></a>			
		</li>
	</div>	
	<div class="text-center">
		<img src="img/logo.png" alt="logo.png" style="display:inline-block; width:80vw;">
	</div>		
</section>