<section id="1" class="section container">
	<header id="header">
		<img id="logo" src="img/logo.png" alt="">
	</header>
	<div class="text-center">
		<h1>¡HOLA!<br>Bienvenida Nanni</h1>		
	</div>
	<div class="list-group navbar-inverse">
		<a href="#" class="nav-xhr list-group-item" data-href="nannisLogin">Login<span class="badge"><i class="fa fa-angle-right"></i></span></a>
		<a class="nav-xhr list-group-item" data-href="nannisRegistrarse">Registrarse<span class="badge"><i class="fa fa-angle-right"></i></span></a>
	</div>			
</section>