<div id="index" class="page">
    <div>
        <img id="logo" src="img/logo.png" alt="URNANI">
        <h4>UR NANI</h4>
        <p>¡You have fun when we give care and teach!</p>
    </div>
    <div id="select">
        <div class="content-select">
            <div id="nannis" class="select nav-xhr" data-href="nannisLogin"><span>Nannis</span></div>
        </div>
        <div class="content-select">
            <div id="padres" class="select nav-xhr" data-href="padresLogin"></div>
        </div>
    </div>
</div>