<section id="2" class="section">
	<header id="header">
		<img id="logo" src="img/logo.png" alt="">
	</header>
	<div class="container">
		<h1>Requisitos</h1>
		<form action="#" class="form-horizontal">
			<div class="form-group">
				<label  class="control-label col-md-6">CV</label>
				<div class="col-md-6">
					<input type="file" class="form-control"/>
				</div>
			</div>
			<div class="form-group">
				<label  class="control-label col-md-6">Examenes Psicometricos</label>
				<div class="col-md-6">
					<input type="file" class="form-control"/>
				</div>
			</div>
			<div class="form-group">
				<label  class="control-label col-md-6">Referencias</label>
				<div class="col-md-6">
					<input type="file" class="form-control"/>
				</div>
			</div>
			<div class="form-group">
				<label  class="control-label col-md-6">Disponibilidad de Horario</label>
				<div class="col-md-6">
					<input type="file" class="form-control"/>
				</div>
			</div>
			<div class="form-group">
				<label  class="control-label col-md-6">Informacion Personal</label>
				<div class="col-md-6">
					<input type="file" class="form-control"/>
				</div>
			</div>
			<a data-href="nannisCodigo" class="btn nav-xhr">Listo</a>
		</form>
	</div>			
</section>