<section id="nannisRetirarCita" class="section container">
	<header id="header">
		<img id="logo" src="img/logo.png" alt="">
	</header>
	<div class="text-center">
		<h1>Se retiro la cita agendada</h1>		
		<p>Completa el preceso</p>
		<div>
			<a class="btn btn-curso nav-xhr" data-href="nannisCursoDate">Estado de Cuenta</a>
		</div>
		<div>
			<a class="btn btn-curso nav-xhr" data-href="nannisCursoDate">Califica</a>
		</div>
		<div class="text-center">
			<a href="#" class="btn nav-xhr" data-href="nannisRetirarCita">Listo</a>		
		</div>		
	</div>
</section>