<section id="1" class="section container">
	<header id="header">
		<img id="logo" src="img/logo.png" alt="">
	</header>
	<h1 class="text-center">LOGIN</h1>
	<form>
		<div id="redes" class="form-group">
			<img src="img/facebook.png" alt="facebook-login">
		</div>
		<div class="form-group">
			<input type="text" placeholder="Usuario" class="form-control">	
		</div>
		<div class="form-group">
			<input type="email" placeholder="Email" class="form-control">	
		</div>
		<div class="form-group text-center">
			<a href="#" class="btn btn-danger nav-xhr" data-href="indexNanni">Cancelar</a>
			<a href="#" class="btnSingUp nav-xhr" data-href="nannisCitasAgendadas">Aceptar</a>
		</div>
	</form>			
</section>