<section id="nannisConfirmarCita" class="section container">
	<header id="header">
		<img id="logo" src="img/logo.png" alt="">
	</header>
	<h1 class="text-center">Por favor, confirma a cuales asistiras</h1>		
	<div class="text-center">
		<ul class="citas confirmar">
			<li>Martes 4, 1:30-3:00 <span><i class="material-icons">assignment_turned_in</i></span><span><i class="material-icons">highlight_off</i></span></li>
			<li>Viernes 14, 7:00-10:00 <span><i class="material-icons">assignment_turned_in</i></span><span><i class="material-icons">highlight_off</i></span></li>
			<li>Domingo 23 5:00-8:00 <span><i class="material-icons">assignment_turned_in</i></span><span><i class="material-icons">highlight_off</i></span></li>
		</ul>
	</div>
	<div class="text-right">
		<a href="#" class="btn nav-xhr" data-href="nannisNotiConcluir">Continuar</a>		
	</div>
</section>