<section id="3" class="section container">
	<div class="jumbotron">
		<p>Se otorgara un curso de capacitacion obligatorio *gratuito, favor de indicar la fecha de disponibilidad</p>
		<form action="" class="form-inline">
			<div class="form-group">
				<label>Fecha</label>
				<input type="date" class="datepicker">
			</div>
			<a data-href="5" class="btn nav-xhr" data-section="Proveedor">Ok</a>
		</form>
	</div>			
</section>
<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->