<section id="1" class="section container">
	<header id="header">
		<img src="img/logo.png" alt="">
	</header>
	<form>
		<div id="redes" class="form-group">
			<img src="img/facebook.png" alt="facebook-login">
		</div>
		<div class="form-group">
			<input type="text" placeholder="Usuario" class="form-control">	
		</div>
		<div class="form-group">
			<input type="email" placeholder="Email" class="form-control">	
		</div>
		<fieldset class="form-inline">
			<h3>Ubicacion</h3>
			<div class="form-group">
				<input type="email" placeholder="MX" class="form-control">	
			</div>
			<div class="form-group">
				<input type="email" placeholder="NL" class="form-control">	
			</div>
			<div class="form-group">
				<input type="email" placeholder="MTY" class="form-control">	
			</div>			
		</fieldset>
		<div class="form-group">
			<a href="#" class="btnSingUp nav-xhr" data-href="nannisIndex">Sing Up<span>(for the first time)</span></a>
		</div>
	</form>			
</section>