<section id="3" class="section">
	<header id="header">
		<img id="logo" src="img/logo.png" alt="">
	</header>
	<div class="container text-center">		
		<h1>Selecciona el curso a inscribir</h1>
		<div>
			<a class="btn btn-curso nav-xhr" data-href="nannisCursoDate">Kinestesia</a>
		</div>
		<div>
			<a class="btn btn-curso nav-xhr" data-href="nannisCursoDate">Cuidado Esp.</a>
		</div>
		<div>
			<a class="btn btn-curso nav-xhr" data-href="nannisCursoDate">Enseñanza</a>
		</div>
	</div>			
</section>