<section id="3" class="section">
	<header id="header">
		<img id="logo" src="img/logo.png" alt="">
	</header>
	<div class="container text-center">		
		<h1>Introducir código dado en el curso</h1>
		<div>
			<input type="number" name="number" value="" plcaholder="CODIGO" class="form-control">
		</div>
		<br>
		<p>
			Se le enviará su diploma vía correo electrónico 
		</p>
		<br>
		<div>
			<a data-href="nannisFelicidades" class="btn btn-primary nav-xhr">Siguiente</a>
		</div>
	</div>			
</section>