<section id="3" class="section ">
	<header id="header">
		<img id="logo" src="img/logo.png" alt="">
	</header>
	<div class="container">
		<h3>Areas de Interes</h3>
		<ul id="areasInteresList" class="list-group">
			<li class="list-group-item">
				<span>Solo Cuidado</span>
				<a  data-toggle="modal" data-target="#nannisCursos1" class="btn"><i class="fa fa-check"></i></a>
			</li>
			<li class="list-group-item">
				<span>Apoyo Educativo</span>
				<a  data-toggle="modal" data-target="#nannisCursos2" class="btn"><i class="fa fa-check"></i></a>
			</li>
			<li class="list-group-item">
				<span>Actividades Entretenidas</span>
				<a  data-toggle="modal" data-target="#nannisCursos2" class="btn"><i class="fa fa-check"></i></a>
			</li>
		</ul>
		<a data-href="nanniCodigoVerificacion" class="btn nav-xhr" data-section="Proveedor">Listo</a>
	</div>			
</section>