<section id="padresPagoConfirmacion" class="section container">
	<header id="header">
		<img id="logo" src="img/logo.png" alt="">
	</header>
	<div class="text-center">
		<h1>Estado de Cuenta</h1>
		<div class="content-table">
			<table class="table">
				<thead>
					<th>PEDIDOS CONCLUIDOS</th>
					<th>RATING(1-5)</th>
					<th>INGRESOS $$$</th>
				</thead>
				<tbody>
					<tr>
						<td>Fam Reyes</td>
						<td>4.9</td>
						<td>$200</td>
					</tr>
					<tr>
						<td>Fam Gzz</td>
						<td>5</td>
						<td>$350</td>
					</tr>
					<tr>
						<td>Fam Reyes</td>
						<td>4.7</td>
						<td>$950</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td></td>
						<td>4.8</td>
						<td>$1500mxn</td>
					</tr>
				</tfoot>
			</table>
			<p class="total">Total = $1500.00 mxn</p>
		</div>
	</div>
	<br>
	<div class="text-center">
		<a class="btnSingUp nav-xhr" data-href="nannisFelicidades">Siguiente</a>						
	</div>
</section>
<br>
