<section id="3" class="section">
	<header id="header">
		<img id="logo" src="img/logo.png" alt="">
	</header>
	<div class="container text-center">		
		<h1>Gracias!</h1>
		<h2>se te mandara un correo electronico con un codigo de verificación. </h2>
		<p>Favor de anotarlo</p>
		<hr>
		<form action="#" class="form-inline">
			<div class="form-group">
				<input type="number" name="codigo" class="form-control" placeholder="CODIGO">
			</div>
		</form>
		<hr>
		<a data-href="nannisCursos" class="btn nav-xhr">Aceptar</a>
	</div>			
</section>