<section id="nannisCalifica" class="section container">
	<header id="header">
		<img id="logo" src="img/logo.png" alt="">
	</header>
	<div class="text-center">
		<h1>Califica a la familia</h1>		
		<img src="img/familia.png" alt="familia" style="display:inline-block;width: 80%;">
		<br>
		<ul class="stars">
			<li><i class="material-icons">star</i></li>
			<li><i class="material-icons">star</i></li>
			<li><i class="material-icons">star</i></li>
			<li><i class="material-icons">star</i></li>
			<li><i class="material-icons">star</i></li>
		</ul>
	</div>
	<div class="text-center">
		<a class="btnSingUp nav-xhr" data-href="nannisFelicidades">Acepto</a>						
	</div>
</section>