<section id="1" class="section container">
	<header id="header">
		<img id="logo" src="img/logo.png" alt="">
	</header>
	<h1 class="text-center">Aqui estan tus citas agendadas</h1>		
	<div class="text-center">
		<img src="img/nannisCitasAgendadas.jpg" alt="nannisCitasAgendadas">
		<ul class="citas">
			<li>Martes 4, 1:30-3:00</li>
			<li>Viernes 14, 7:00-10:00</li>
			<li>Domingo 23 5:00-8:00</li>
		</ul>
	</div>
	<a href="#" class="btn nav-xhr" data-href="nannisConfirmarCitas">Siguiente</a>
</section>
<br>
<br>
<br>