<section id="3" class="section">
	<header id="header">
		<img id="logo" src="img/logo.png" alt="">
	</header>
	<div class="container text-center">
		<h3>Gracias por su interes,<br><i class="fa fa-envelope urnani1"></i> se le enviara un correo con su codigo.</h3>
		<hr>
		<form action="#" class="form-inline">
			<div class="form-group">
				<label  class="control-label col col-md-6">Codigo</label>
				<input type="number" name="codigo" class="form-control">
			</div>
		</form>
		<hr>
		<a data-href="nannisFelicidades" class="btn nav-xhr">Listo</a>
	</div>			
</section>