<section id="nannis-index" class="section container">
	<header id="header">
		<img id="logo" src="img/logo.png" alt="">
	</header>
	<div class="text-center">
		<h1>Metodos de Pago</h1>
		<ul class="citas">
			<li>Visa **** **** ****4415</li>
			<li>Nueva <span class="right"><i class="fa fa-plus"></i></span></li>
			<li>Ficha de deposito</li>
			<li>Agregar Tarjeta <span class="right"><i class="fa fa-angle-right"</span></i></li>
		</ul>
	</div>
	<div class="text-center">
		<a class="btn btn-danger nav-xhr" data-href="index">Cancelar</a>	
		<a class="btnSingUp nav-xhr" data-href="padresPagoConfirmacion">Aceptar</a>						
	</div>
</section>
