<section id="nannis-index" class="section container">
	<header id="header">
		<img id="logo" src="img/logo.png" alt="">
	</header>
	<div class="text-center">
		<h1>Nannis Disponibles</h1>	
		<div id="content-nannis">
			<div class="nanni">
				<div class="avatar">
					<img src="img/nanni1.jpg" alt="nanni">
					<p>Alina <span>(Conocela mas)</span></p>
				</div>					
				<p class="title">Alina</p>
				<ul class="stars">
					<li><i class="fa fa-star active"></i></li>
					<li><i class="fa fa-star active"></i></li>
					<li><i class="fa fa-star active"></i></li>
					<li><i class="fa fa-star active"></i></li>
					<li><i class="fa fa-star active"></i></li>
				</ul>
				<div class="detalles">
					<p>95% Satisfaccion</p>
					<p>15 Comentarios</p>
					<h5>CERTIFICADO EN:</h5>
					<img src="img/puzz.png" alt="puzz">
				</div>				
			</div>
			<div class="nanni">
				<div class="avatar">
					<img src="img/nanni3.jpg" alt="nanni">
					<p>Melissa <span>(Conocela mas)</span></p>
				</div>					
				<p class="title">Alina</p>
				<ul class="stars">
					<li><i class="fa fa-star active"></i></li>
					<li><i class="fa fa-star active"></i></li>
					<li><i class="fa fa-star active"></i></li>
					<li><i class="fa fa-star"></i></li>
					<li><i class="fa fa-star"></i></li>
				</ul>
				<div class="detalles">
					<p>60% Satisfaccion</p>
					<p>25 Comentarios</p>
					<h5>CERTIFICADO EN:</h5>
					<img src="img/puzz.png" alt="puzz">
				</div>				
			</div>
			<div class="nanni">
				<div class="avatar">
					<img src="img/nanni2.jpg" alt="nanni">
					<p>Daniela <span>(Conocela mas)</span></p>
				</div>					
				<p class="title">Alina</p>
				<ul class="stars">
					<li><i class="fa fa-star active"></i></li>
					<li><i class="fa fa-star active"></i></li>
					<li><i class="fa fa-star active"></i></li>
					<li><i class="fa fa-star active"></i></li>
					<li><i class="fa fa-star"></i></li>
				</ul>
				<div class="detalles">
					<p>80% Satisfaccion</p>
					<p>7 Comentarios</p>
					<h5>CERTIFICADO EN:</h5>
					<img src="img/puzz.png" alt="puzz">
				</div>				
			</div>
		</div>
	</div>
</section>
<br>
<br>
<br>
<br>
<br>