<section id="nannis-index" class="section container">
	<header id="header">
		<img id="logo" src="img/logo.png" alt="">
	</header>
	<div class="text-center">
		<h1>BIENVENIDO</h1>	
		<h4 class="urnani1">¡CUANDO NOS HAREMOS CARGO!</h4>		
		<div class="row">
			<div class="col-xs-12">
				<div class="input-group">
					<div class="input-group-addon">
						<i class="fa fa-calendar"></i>	
					</div>
					<input type="date" class="form-control">
				</div>				
			</div>
		</div>	
		<div class="calendar" data-color="normal">
			<div data-role="day" data-day="">
				<div data-role="event" data-name="Soy un evento que siempre saldr&eacute; ma&ntilde;ana" data-start="9.00" data-end="9.30" data-location="martiniglesias.eu"></div>
			</div>
		</div>	
		<br>
		<div class="form-inline">
			<div class="form-group">
				<a data-href="padresDisponibles" class="btnSingUp nav-xhr">AGENDAR</a>
			</div>
		</div>
	</div>
</section>