<section id="nannis-index" class="section container">
	<header id="header">
		<img id="logo" src="img/logo.png" alt="">
	</header>
	<div class="text-center">
		<h1>Conocela...</h1>
		<div id="conocela">
			<div class="row">
				<div class="col-md-4">
					<img src="img/nanni1.jpg" alt="" class="nanni">
					<h3>ALINA</h3>
					<div class="cursos">
						<p class="title">CURSOS HABILES</p>
						<img src="img/puzz.png" alt="" class="img-circle">
					</div>
				</div>
				<div class="col-md-8">
					<div class="morado"><span>95% RATING</span></div>
					<div class="amarillo"><span>$200/hr</span></div>
					<div class="rosa">
						<p>Alina, es una maestra en el
							colegio San Patricio,
							regiomontana a mas no
							poder, con 24 años de edad
							ha encontrado su vocación
							en los niños y le encantan la
							enseñanza ademas de
							apasionarle enseñar de una
							forma diferente, por lo que
							tomo el curso de Kinestecia.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<a class="btnSingUp nav-xhr" data-href="padresConfirmacion">Seleccionar</a>				
				</div>
			</div>	
		</div>
	</div>
</section>
<br>
<br>
<br>
<br>
<br>