<section id="3" class="section container">
	<div class="jumbotron">
		<p>Areas de Interes</p>
		<form action="#" class="form-inline">
			<div class="form-group">
				<label>Solo Cuidado</label>
				<a data-href="5.1" class="btn nav-xhr" data-section="Proveedor"><i class="fa fa-check"></i></a>
			</div>
			<div class="form-group">
				<label>Apoyo Educativo</label>
				<a data-href="5.2" class="btn nav-xhr" data-section="Proveedor"><i class="fa fa-check"></i></a>
			</div>
			<div class="form-group">
				<label>Actividades Entretenidas</label>
				<a data-href="5.2" class="btn nav-xhr" data-section="Proveedor"><i class="fa fa-check"></i></a>
			</div>
			<a data-href="6" class="btn nav-xhr" data-section="Proveedor">Listo</a>
		</form>
	</div>			
</section>