<section id="1" class="section container">
	<div class="jumbotron">
		<form class="form-horizontal">
			<div class="form-group">
				<label  class="control-label col-md-6">Cuando ocupas a tu <span class="urnani">Nanni</span></label>
				<div class="col-md-6">
					<div class="input-group">
						<div class="input-group-addon">
							<i class="fa fa-calendar"></i>	
						</div>
						<input type="date" class="form-control">
					</div>
				</div>
			</div>
		</form>
		<a data-href="3" class="btn nav-xhr" data-section="Cliente">Listo</a>
	</div>			
</section>