<section id="1" class="section container">
	<div class="jumbotron">
		<h3>Nannis disponibles</h3>
		<div id="content-nannis">
			<ul id="nannis">
				<li>
					<div class="nanni">
						<img src="img/nanni.jpg" alt="nanni">
						<span>Laura Josefina Gomez Manzanares</span>
						<div class="stars">
							<ul>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star-o"></i></li>
							</ul>
						</div>
					</div>
				</li>
				<li>
					<div class="nanni">
						<img src="img/nanni2.jpg" alt="nanni">
						<span>Angie Galarza</span>
						<div class="stars">
							<ul>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star-o"></i></li>
								<li><i class="fa fa-star-o"></i></li>
							</ul>
						</div>
					</div>
				</li>
				<li>
					<div class="nanni">
						<img src="img/nanni3.jpg" alt="nanni">
						<span>Alicia Bonilla</span>
						<div class="stars">
							<ul>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
							</ul>
						</div>
					</div>
				</li>
				<li>
					<div class="nanni">
						<img src="img/nanni4.jpg" alt="nanni">
						<span>Irma Medellin</span>
						<div class="stars">
							<ul>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star-o"></i></li>
								<li><i class="fa fa-star-o"></i></li>
								<li><i class="fa fa-star-o"></i></li>
							</ul>
						</div>
					</div>
				</li>
				<li>
					<div class="nanni">
						<img src="img/nanni5.jpg" alt="nanni">
						<span>Alejandra Aceves</span>
						<div class="stars">
							<ul>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star-o"></i></li>
							</ul>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<a data-href="4" class="btn nav-xhr" data-section="Cliente">Listo</a>
	</div>			
</section>