<section id="1" class="section container">
	<div class="jumbotron">
		<div id="nanni">
			<h3>Laura Josefina Gomez Manzanares</h3>
			<h4>22 años</h4>
			<img src="img/nanni.jpg" alt="nanni">
			<div class="stars">
				<ul>
					<li><i class="fa fa-star"></i></li>
					<li><i class="fa fa-star"></i></li>
					<li><i class="fa fa-star"></i></li>
					<li><i class="fa fa-star"></i></li>
					<li><i class="fa fa-star-o"></i></li>
				</ul>
			</div>
			<div id="recomendaciones">
				<h3>Recomendaciones</h3>
				<p>-Excelente</p>
			</div>
			<hr>
			<div id="certificados">
				<h3>Certificados</h3>
				<p><i class="fa fa-file"></i> Certificado en taller de Kinestesia</p>
			</div>
		</div>
		<a data-href="5" class="btn nav-xhr" data-section="Cliente">Listo</a>
	</div>			
</section>