<section id="1" class="section container">
	<div class="jumbotron">
		<h3>Califica</h3>
		<div id="nanni">
			<div class="text-center">
				<p>Laura Josefina Gomez Manzanares</p>
				<div class="stars">
					<ul>
						<li><i class="fa fa-star-o"></i></li>
						<li><i class="fa fa-star-o"></i></li>
						<li><i class="fa fa-star-o"></i></li>
						<li><i class="fa fa-star-o"></i></li>
						<li><i class="fa fa-star-o"></i></li>
					</ul>
				</div>
				<img src="img/nanni.jpg" alt="nanni">				
			</div>
			<hr>
			<h3>Comentarios</h3>
			<textarea name="comentarios" class="form-control"></textarea>
		</div>
	</div>			
</section>